<h1>Вы получатель</h1>
<%= @transaction.where(nomerto: @nomer).find_each do |trans|%>
            <h2> <span class="select"><h3>Номер счета отправителя</h3> <%= trans.nomerfrom%></span></h2>
            <h2> <span class="select"><h3>Номер счета получателя</h3> <%= trans.nomerto%></span></h2>
            <h2> <span class="select"><h3>Сумма перевода:</h3> <%=trans.summa%></span></h2>
            <br>
<%end%>
<br>
<h1>Вы отправитель</h1>
<%= @transaction.where(nomerfrom: @nomer).find_each do |trans|%>
      <h2> <span class="select"><h3>Номер счета отправителя</h3> <%= trans.nomerfrom%></span></h2>
      <h2> <span class="select"><h3>Номер счета получателя</h3> <%= trans.nomerto%></span></h2>
      <h2> <span class="select"><h3>Сумма перевода:</h3> <%=trans.summa%></span></h2>
      <br>
<%end%>