
<arcicle class="page">
  <section class="page-head">
    <h2> <%= @page.name %></h2>
    <small>
      <time>
        <%= @page.created_at.to_date.strftime("%d, %B, %Y") %>
        <% if chel_signed_in? && current_chel.admin?%>
        |
        <%= link_to 'Удалить',admin_pages_path(@page), method: :delete, data:{confirm:'Вы уверены?'}%>
        |
        <%= link_to 'Редактировать',edit_admin_pages_path(@page)%>
        <%end%>
      </time>
    </small>
  </section>
  <section class="page-description">
    <%= @page.description.html_safe%>
  </section>
    <%= image_tag @page.image.url(:large), class:'image-show' if @page.image? %>
</arcicle>
<section class="footer-summary">
  <%= raw @page.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge badge-primary' }.join(' ') %>
</section>
<br>
<div class= "form_group">
  <%= link_to 'Назад', :back, class: 'btn btn-primary'%>
</div>
<br>
<%= render 'disqus' %>