<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fenix" %></title>
    <%= csrf_meta_tags %>
    <script data-require="jquery@*" data-semver="2.0.3" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
<%=render "css"%>
  <body>
  <% if chel_signed_in? && current_chel.admin?%>
      <body>
        <nav class="navbar navbar-inverse bg-inverse">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <div class="container">
          <strong><a class="navbar-brand" href="/">Режим администратора</a></strong>
          <div class="navbar-collapse collapse" id="navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Новости", "/pages"  %></li>
              <li><%= link_to "О нас", "/about_us"  %></li>
              <% if chel_signed_in? %>
                  <li><%= link_to "Личный кабинет", "/cabinet"  %></li>
              <%end%>
            </ul>
              <ul class="nav navbar-nav pull-right">
              <% if chel_signed_in?%>
                  <li> <%= link_to 'Выход', :destroy_chel_session, method: :delete%></li>
              <%else%>
                  <li> <%= link_to 'Вход', :new_chel_session%></li>
                  <li>  <%= link_to 'Регистрация', :new_chel_registration%></li>
              <%end%>
              </ul>
          </div>
        </div>
      </nav>

              <div class="container main">
                <div class="row">
                  <div class="col-md-12">
                    <% flash.each do |name, message| %>
                        <div class="alert <%= bootstrap_class_for(name) %>">
                          <button class="close" data-dismiss="alert">&times;</button>
                          <%= message %>
                        </div>
                    <% end %>
                    <div class="container">

                      <%= yield %>
                      <br>
                      <footer>
                        <p>&copy; Fenix 2017</p>
                      </footer>

                    </div>
                  </div>
                </div>
              </div>
              </body>
<%else%>
    <div class="navbar navbar-default navbar-static-top">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="container">
        <strong> <a class="navbar-brand" href="/">Fenix</a></strong>
        <div class="navbar-collapse collapse" id="navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Новости", "/pages"  %></li>
            <li><%= link_to "О нас", "/about_us"  %></li>
            <% if chel_signed_in? %>
            <li><%= link_to "Личный кабинет", "/cabinet"  %></li>
            <%end%>
          </ul>
            <ul class="nav navbar-nav pull-right ">
            <% if chel_signed_in?%>
                <li> <%= link_to 'Выход', :destroy_chel_session,class: 'btn btn-danger', method: :delete%></li>
            <%else%>
                <li> <%= link_to 'Вход', :new_chel_session%></li>
                <li>  <%= link_to 'Регистрация', :new_chel_registration%></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>

    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
              <div class="alert <%=bootstrap_class_for(name) %>">
                <button class="close" data-dismiss="alert">&times;</button>
                <%= message %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">

          <%= yield %>
          <br>
          <footer>
            <p>&copy; Fenix 2017</p>
          </footer>

    </div>

  </body>
  <%end%>
</html>
